<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Student</title>
</head>
<body>

<h4>Update Student</h4>

<p th:text="${message}"> </p>

<form th:action="@{updateStudent/{studentID}(studentID=${studentFromController.studentID})}"
      th:object="${studentFromController}"
      method="post">
  <p>
    <label for="studentID">Student Id</label>
    <input  type="text" name="studentID"  id="studentID"  th:field="*{studentID}" readonly></p>
  <p>
    <label for="firstName">First name</label>
    <input  type="text" name="firstName"  id="firstName"  th:field="*{firstName}"></p>
  <p>
    <label for="lastName">Last Name</label>
    <input  type="text" name="lastName"  id="lastName"  th:field="*{lastName}"></p>
  <p>
    <label for="email">Email</label>
    <input  type="text" name="email"  id="email"  th:field="*{email}"></p>
  <p>
    <input type="submit" value="Update Student" /></p>
</form>
<p>
  <a th:href="@{/}">Home</a>
</p>
<p>
  <a th:href="@{/student/students}">students</a>
</p>
</body>
</html>