<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>createStudentForm</title>
</head>
<body>
here will appear the form to register a new student to the db.
first name, last name and email will be asked as an input.

<form th:action="@{/createStudent/{studentID}(id=${student.studentID}" th:object="${student}" method="post">

      <label for="firstName">Student's first name:</label><br>
      <input th:field="*{firstName}" type="text" name ="firstName" id="firstName"><br>
      <label for="lastName">Student's last name:</label><br>
      <input th:field="*{lastName}" type="text"  name ="lastName" id="lastName"><br>
      <label for="email">Student's email: </label><br>
      <input th:field="*{email}" type="text"  name ="email" id="email"><br>
      <input type="submit" value="Submit"/>
      <input type="reset" value="Reset fields"/>
</form>

<div>
    <a th:href="@{/student/}">Go Back</a><br>
    <a th:href="@{/}">Go to main menu</a><br>
    <a th:href="@{/student/allStudents/}">Go to all Students</a><br>
    <a th:href="@{/student/update/}">Go to Update Student</a><br>
    <a th:href="@{/student/delete/}">Go to Delete Student</a><br>
</div>
</body>
</html>