<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<h1>Register a new student</h1>

<form th:action="@{/createStudent}" th:object="${student}" method="post">

    <label for="firstName">Student's first name:</label><br>
    <input th:field="*{firstName}" type="text" name ="firstName" id="firstName"><br>
    <label for="lastName">Student's last name:</label><br>
    <input th:field="*{lastName}" type="text"  name ="lastName" id="lastName"><br>
    <label for="age">Student's age: </label><br>
    <input th:field="*{age}" type="text"  name ="age" id="age"><br>
    <label for="course">Student's current course</label><br>
    <input th:field="*{course}"type="text" name ="course" id="course"><br>
    <input type="submit" value="Submit"/>
    <input type="reset" value="Reset fields"/>
</form>

</body>
</html>