<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Student</title>
</head>
<body>
    <h1>Unregister a student</h1>
    <!--
    <table border="2">
        <tr>
            <th>ID number</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Current Course</th>
            <th>Subjects subscribed</th>
            <th>Action</th>
        </tr>
        <tr th:each="student: ${students}">
            <td th:text="${student.idNumber}"></td>
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.age}"></td>
            <td th:text="${student.currentCourse}"></td>
            <td>
                <form th:action="@{/deleteStudent/{idNumber}(idNumber = ${student.idNumber})}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
    -->
    <table border="2">
        <tr>
            <th>ID number</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Current Course</th>
        </tr>
        <tr th:each="student: ${students}">
            <td th:text="${student.idNumber}"></td>
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.age}"></td>
            <td th:text="${student.course}"></td>
            <td>
                <form th:href="@{/deleteStudent/{idNumber}(idNumber = ${student.idNumber})}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>