<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>index</title>
</head>
<body>
  <h1>Student Administration</h1>
  <p>Please, choose an option:</p>
  <div>
    <form th:action="@{/createStudent}">
      <button type="submit">Register a new student</button>
    </form>
    <form th:action="@{/getAllStudents/}">
      <button type="submit">Read all registered students</button>
    </form>
    <form th:action="@{/getStudent}">
      <button type="submit">Read a student record</button>
    </form>
    <form th:action="@{/updateStudent}">
      <button type="submit">Update an existing student</button>
    </form>
    <form th:action="@{/deleteStudent}">
      <button type="submit">Unregister student</button>
    </form>
  </div>
<div>

  <table border="2">
    <tr>
      <th>ID number</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Current Course</th>
      <th>Subjects subscribed</th>
    </tr>
    <tr th:each="student: ${studentsFromController}">
      <td th:text="${student.idNumber}"></td>
      <td th:text="${student.firstName}"></td>
      <td th:text="${student.lastName}"></td>
      <td th:text="$student.age}"></td>
      <td th:text="${student.currentCourse}"></td>
      <td th:text="${student.firstName}"></td>
      <td th:text="${student.subscribedSubjects}"></td>
    </tr>
  </table>
</div>
</body>
</html>

https://www.javaguides.net/2022/06/spring-boot-crud-example-without-database.html