<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Student</title>
</head>
<body>
    <h1>Update Student Details</h1>
    <table border="2">
        <tr>
            <th>ID number</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Current Course</th>
            <th>Subjects subscribed</th>
        </tr>
        <tr th:each="student: ${students}">
            <td th:text="${student.idNumber}"></td>
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.age}"></td>
            <td th:text="${student.currentCourse}"></td>
            <td th:text="${student.subscribedSubjects}"></td>
        </tr>
    </table>
</body>
</html>